<div class="animate__animated animate__fadeIn">

  <ion-row>
    <ion-col class="centrado">
      <img src="assets/img/logo.png" style="width: 200px;" alt="">
    </ion-col>
    <ion-col>
      <b>HISTORIA</b> <br><br>
      
      <b>LUBRIFERR</b> nace en el año de 1999 con el sueño de Flavio Sarango y Patricia Alvarado con la aspiración de proveer lubricantes y materiales de ferretería para la ciudad de santo
      Domingo.<br><br>
      
      Nuestro sueño inicia con un pequeño local en la ciudadela liberación popular calle 6 de Noviembre, para luego con la bendición de Dios adquirir nuestros propios locales, en la misma ciudadela,
      pero con una nueva dirección: calle Manuelita Saenz; con el objetivo de brindar seguridad y comodidad a nuestros clientes.<br><br>
      
      En la actualidad contamos con una sucursal, que esta ubicada a 300 metros del by pass Quevedo-Quito con una area de 1500m2 para una mejor distribución.<br><br>
      
      Lubriferr, crece y se complementa en la distribución de materiales de construcción, seguridad industrial, maquinaria, con mas de 20000 productos.
      
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col class="centrado">
      <h3>Marcas que distribuimos</h3>
    </ion-col>
    <ion-col>
      <b>Somos distribuidores de las mejores marcas.</b>
      <ul>
        <li>Plásticos Rival</li>
        <li>Cemento Chimborazo</li>
        <li>Hierro de las mejores marcas: Adelca, Novacero y Andec, </li>
        <li>Ideal Alambrec,</li>
        <li>Accesorios Plastigama.</li>
      </ul>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col class="centrado">
      <p>También contamos con personal capacitado, tecnología adecuada, transporte y maquinaria para un pronto despacho.</p>
    </ion-col>
  </ion-row>

</div>