<app-title titulo="Como Llegar"></app-title>

<ion-content class="animate__animated animate__fadeIn">

  <h1 class="centrado">Como llegar?</h1>
  <p class="centrado">
    <b>Dirección:</b> Cdla. Liberación Popular. Calle Manuelita Saenz y La Niña. Sector Escuela UNE <br><br>
    <b>Teléfono: </b> <a href="tel:+593989436802" target="_blank">098 943 6802</a> <br><br>
    <b>Whatsapp: </b> <a href="https://wa.me/593989436802?text=Saludos necesito informacion" target="_blank">098 943 6802</a> <br><br>
  </p>

  <div class="centrado">
    <ion-button href="https://www.google.es/maps?q=-0.258820,-79.175153" target="_blank">Ruta GPS a nuestra matriz</ion-button>
    <ion-button href="https://www.google.es/maps?q=-0.279223,-79.193147" target="_blank">Ruta GPS a nuestra sucursal</ion-button>
  </div>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1298.842054613203!2d-79.17415161108316!3d-0.25829113898875844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d547e383e5bd4b%3A0x7c98932b5c8c3cef!2sDistribuidora%20Lubriferr!5e0!3m2!1ses-419!2sec!4v1641770264308!5m2!1ses-419!2sec" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

</ion-content>